name: Metrics
on:
  # Schedule updates 3 times a day (every 8 hours)
  schedule: [{cron: "0 */8 * * *"}]
  # Allow manual refresh from the Actions tab
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.METRICS_TOKEN }}

          # Options
          user: SSMG4
          template: classic
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Paris
          
          # Language stats
          plugin_languages: yes
          plugin_languages_ignored: html, css
          plugin_languages_details: bytes-size, percentage
          plugin_languages_limit: 8
          
          # Streak stats
          plugin_streaks: yes
